*{
  box-sizing: border-box;
}
body {
  color: darkblue;
  background-color: lightgray;
}

img {
  height: 300px;
  width: auto;
}

ul.links{
  display:block;
  padding: 10px;
  background-color: rgba(255, 186, 186, 0.751);
}
.links li {
  font-size: large;
  font-family:Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
  padding: 5px;
  margin: 5px auto;
  width: 150px;
  background-color: lightblue;
}

.card {
  width: 600px;
  margin: 0px auto;
  padding: 10px;
  background-color: aliceblue;
}

.title {
  background-color: rgba(255, 186, 186, 0.751);
  padding: 10px;
}